<h1>Routes</h1>
<% if @routes != [] %>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
    <%= render @routes %>
  </tbody>
</table>
<% else %>
  <h3>There are no routes yet!</h3>
<% end %>
<br>

<%= link_to 'New Route', new_admin_route_path(@routes) %>
