<h1>Tickets</h1>
<% if @tickets != [] %>
<table>
  <thead>
  <tr>
    <th>Passport ID</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
  <%= render @tickets %>
  </tbody>
</table>
<% else %>
  <h3>There are no tickets yet!</h3>
<% end %>
<br>
